
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/

* {
    margin: 0px;
    padding: 0px;
}

/*ESTILOS PARA SEARCH BOX*/

.nav-text {
    font-family: 'Mulish', sans-serif;
}

#locationsList {
    list-style: none;
    font-family: 'Mulish', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.locations:hover {
    border: 1px solid rgba(223, 220, 220, 0.308);
}

.card-modified {
    max-width: 350px;
}

.anadir-quitar:hover {
    background-color: rgba(226, 226, 226, 0.253);
    box-shadow: 2px 2px 20px rgba(226, 226, 226, 0.205);
    border-color: rgba(226, 226, 226, 0.493) !important;
    
}


/*MODIFICACIONES DE LAS FUENTES EN CARDS*/
.star {
    font-size: 1rem;
    /*color: #EB5757B8;*/
}

.super-host {
    font-size: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
}

.description {
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
}

.rate {
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
}

.card-title {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


/*Ocultar Super Host*/
.hide {
    display: none;
}

/*Modificaciones en la imagen*/
.card-img-modified {
    aspect-ratio: 4 / 3;
}

.image-modified {
    object-fit: cover;
    overflow: hidden;
}
